### Preprocessing, Filtering & Cleaning

##### This code section gets the incomming dataset and then detects the areas where NaN values are found. It then proceeds to fill these values with the means of their columns. However, the existence of NaN values in categorical columns is taken into account. In that case, the categorical NaN values are filled with the string "MISSING_VALUE".

In [16]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [17]:
# load test dataset
ds = pd.read_csv('wds/greek_weather_data.csv', delimiter="\t", low_memory=False)

In [18]:
ds.head()

,Unnamed: 0,STATION_REGION,STATION_NAME,YEAR,MONTH,DAY,MEAN_TEMP,HIGH_TEMP,HIGH_TEMP_TIME,LOW_TEMP,...,RAIN,AVG_WIND_SPEED,HIGHEST_WIND_SPEED,HIGHEST_WIND_SPEED_TIME,WIND_DIR,ELEVATION,LAT,LONG,LAT_DEG,LONG_DEG
0,0,Ήπειρος,Αγία Κυριακή Ιωαννίνων,2018,10,1,14.6,21.7,15:10:00,10.4,...,0.0,1.3,24.1,15:40:00,SSE,515.0,"39° 31' 27"" N","20° 52' 55"" E",39.524167,20.881944
1,1,Ήπειρος,Αγία Κυριακή Ιωαννίνων,2018,10,2,14.3,21.6,17:40:00,6.2,...,0.4,2.1,22.5,14:40:00,ENE,515.0,"39° 31' 27"" N","20° 52' 55"" E",39.524167,20.881944
2,2,Ήπειρος,Αγία Κυριακή Ιωαννίνων,2018,10,3,14.6,22.7,13:40:00,8.4,...,3.6,1.8,24.1,18:20:00,ESE,515.0,"39° 31' 27"" N","20° 52' 55"" E",39.524167,20.881944
3,3,Ήπειρος,Αγία Κυριακή Ιωαννίνων,2018,10,4,17.6,26.7,15:50:00,11.2,...,0.2,1.6,17.7,13:30:00,WNW,515.0,"39° 31' 27"" N","20° 52' 55"" E",39.524167,20.881944
4,4,Ήπειρος,Αγία Κυριακή Ιωαννίνων,2018,10,5,16.7,26.3,14:10:00,10.8,...,1.8,2.7,20.9,10:40:00,WNW,515.0,"39° 31' 27"" N","20° 52' 55"" E",39.524167,20.881944

In [19]:
#print the length of the dataset, as well as the columns where nan values exist
print("Dataset length:", len(ds))
print("NaN Values found:")
print(ds.isna().sum())

Dataset length: 921561
NaN Values found:
Unnamed: 0                      0
STATION_REGION                  0
STATION_NAME                    0
YEAR                            0
MONTH                           0
DAY                             0
MEAN_TEMP                    1118
HIGH_TEMP                    1179
HIGH_TEMP_TIME              35581
LOW_TEMP                     1117
LOW_TEMP_TIME               35537
HEAT_DEG_DAYS                2098
COOL_DEG_DAYS                2129
RAIN                         3651
AVG_WIND_SPEED               3400
HIGHEST_WIND_SPEED           3334
HIGHEST_WIND_SPEED_TIME     40459
WIND_DIR                        0
ELEVATION                  170187
LAT                        170187
LONG                       170187
LAT_DEG                    170187
LONG_DEG                   170187
dtype: int64

In [23]:
# print percentage of NaN values in each column
print("Percentage % of NaN values in each column:")
print(round(ds.isna().sum() * 100 / len(ds), 2))

Percentage % of NaN values in each column:
Unnamed: 0                  0.00
STATION_REGION              0.00
STATION_NAME                0.00
YEAR                        0.00
MONTH                       0.00
DAY                         0.00
MEAN_TEMP                   0.12
HIGH_TEMP                   0.13
HIGH_TEMP_TIME              3.86
LOW_TEMP                    0.12
LOW_TEMP_TIME               3.86
HEAT_DEG_DAYS               0.23
COOL_DEG_DAYS               0.23
RAIN                        0.40
AVG_WIND_SPEED              0.37
HIGHEST_WIND_SPEED          0.36
HIGHEST_WIND_SPEED_TIME     4.39
WIND_DIR                    0.00
ELEVATION                  18.47
LAT                        18.47
LONG                       18.47
LAT_DEG                    18.47
LONG_DEG                   18.47
dtype: float64

In [24]:
# RULES
# metadata info: rules that each column's values must have
def ruless(dss):
    print("Initial size before Rules application:",len(dss))
    
    # Temperatures must be between -100 and 55 degrees celsius
    dss = dss[dss['HIGH_TEMP'] < 55]
    dss = dss[dss['LOW_TEMP'] > -100]
    print("After Temperature Rule:", len(dss))
    
    # Rain must not be below 0
    dss = dss[dss['RAIN'] >= 0]
    print("After Rain Rule:", len(dss))
    
    # Highest wind speed must not be above 1000
    dss = dss[dss['HIGHEST_WIND_SPEED'] < 1000]
    print("After Wind Speed Rule:", len(dss))
    
    print("Final size after the Rules application:",len(dss))
    
    return dss

In [25]:
# metadata info: columns that will be parsed from outlier & wrong input detector
cols = ['MEAN_TEMP', 'HIGH_TEMP', 'LOW_TEMP', 'HEAT_DEG_DAYS', 'COOL_DEG_DAYS', 'RAIN', 'AVG_WIND_SPEED', 'HIGHEST_WIND_SPEED']

In [26]:
# search for outliers in the given columns
def outliered(dss):
    # a counter for the total outliers found
    totaloutliers = 0
    
    # begin parsing the given columns
    for cl in cols:
        # mean (average) calculation
        mean = dss[cl].mean()
        # standard deviation calculation
        std = dss[cl].std()
        
        # the cut-off threshold, which in this case is 3 times the standard deviation
        anomaly_cut_off = std * 3
        # calculate the lower limit. Below that, all values will be considered as outliers
        lower_limit  = mean - anomaly_cut_off 
        # calculate the upper limit. Above that, all values will be considered as outliers
        upper_limit = mean + anomaly_cut_off
        
        # get a list where 'True' values will indicate outliers above the upper limit
        outliers1 = dss[cl] > upper_limit
        # get a list where 'True' values will indicate outliers below the upper limit
        outliers2 = dss[cl] < lower_limit
        # merge the two lists. We now want all outliers. Simply, if we compare each value pairs between them with '!=',
        # we will get 'True' for the outliers (True != False equals True) and 'False' for correct values (False != False equals False)
        outliersfin = (outliers1 != outliers2)
        
        # convert the boolean list to a string list of Trues and Falses
        booleanDictionary = {True: 'True', False: 'False'}
        outliersfin = outliersfin.map(booleanDictionary)
        
        # add the outlier locations list to the main dataframe
        name = cl+"_OUTLIER_LOCATION"
        dss[name] = outliersfin
        
        # search for the outliers
        for it in outliersfin:
            if it == "True":
                totaloutliers = totaloutliers + 1
                
    print("Total outliers found:", totaloutliers)
    
    return dss

In [27]:
# function that cleans a given dataset, that is, it fills the empty numerical values with their columns' means,
# bypassing the empty categorical ones
def cleaner(dief):
    catcols = []
    numcols = []
    for c in dief.columns:
        #check if there are any strings in column
        if dief[c].map(type).eq(str).any(): 
            catcols.append(c)
        else:
            numcols.append(c)
            
    #create two DataFrames, one for each data type
    num = dief[numcols]
    cat = pd.DataFrame(dief[catcols])
    
    # create a num imputer for numerical valuees
    numimputer = SimpleImputer(missing_values=np.nan, strategy='mean')
    # we apply the numimputer only to numeric columns / values
    num = pd.DataFrame(numimputer.fit_transform(num), columns = num.columns)
    
    # create a cat imputer for categorical valuees
    catimputer = SimpleImputer(strategy='constant', fill_value="MISSING_VALUE")
    # we apply the catimputer only to categorical columns / values
    cat = pd.DataFrame(catimputer.fit_transform(cat), columns = cat.columns)
    
    #join the two dataframes back together
    newdief = pd.concat([cat, num], axis = 1)
    
    # return the cleaned dataset
    return newdief

In [31]:
# apply the rules to the dataset
ds = ruless(ds)

Initial size before Rules application: 913565
After Temperature Rule: 913565
After Rain Rule: 913565
After Wind Speed Rule: 913565
Final size after the Rules application: 913565

In [30]:
# detect outliers in the dataset
ds = outliered(ds)

Total outliers found: 52972

In [12]:
# see the new dataframe with outlier locations columns
ds.head()

,Unnamed: 0,STATION_REGION,STATION_NAME,YEAR,MONTH,DAY,MEAN_TEMP,HIGH_TEMP,HIGH_TEMP_TIME,LOW_TEMP,...,LAT_DEG,LONG_DEG,MEAN_TEMP_OUTLIER_LOCATION,HIGH_TEMP_OUTLIER_LOCATION,LOW_TEMP_OUTLIER_LOCATION,HEAT_DEG_DAYS_OUTLIER_LOCATION,COOL_DEG_DAYS_OUTLIER_LOCATION,RAIN_OUTLIER_LOCATION,AVG_WIND_SPEED_OUTLIER_LOCATION,HIGHEST_WIND_SPEED_OUTLIER_LOCATION
0,0,Ήπειρος,Αγία Κυριακή Ιωαννίνων,2018,10,1,14.6,21.7,15:10:00,10.4,...,39.524167,20.881944,False,False,False,False,False,False,False,False
1,1,Ήπειρος,Αγία Κυριακή Ιωαννίνων,2018,10,2,14.3,21.6,17:40:00,6.2,...,39.524167,20.881944,False,False,False,False,False,False,False,False
2,2,Ήπειρος,Αγία Κυριακή Ιωαννίνων,2018,10,3,14.6,22.7,13:40:00,8.4,...,39.524167,20.881944,False,False,False,False,False,False,False,False
3,3,Ήπειρος,Αγία Κυριακή Ιωαννίνων,2018,10,4,17.6,26.7,15:50:00,11.2,...,39.524167,20.881944,False,False,False,False,False,False,False,False
4,4,Ήπειρος,Αγία Κυριακή Ιωαννίνων,2018,10,5,16.7,26.3,14:10:00,10.8,...,39.524167,20.881944,False,False,False,False,False,False,False,False

In [13]:
# replace nan values with the mean of each value's column. TAKES TIME
cleaned = cleaner(ds)

In [14]:
#validate that the length remains the same, as well as that the nan values have been eliminated
print("Dataset length after cleaning:", len(cleaned))
print("NaN Values found now:")
print(cleaned.isna().sum())
print("Dataset Now:")
print(cleaned)

Dataset length after cleaning: 913565
NaN Values found now:
STATION_REGION                         0
STATION_NAME                           0
DAY                                    0
HIGH_TEMP_TIME                         0
LOW_TEMP_TIME                          0
HIGHEST_WIND_SPEED_TIME                0
WIND_DIR                               0
LAT                                    0
LONG                                   0
MEAN_TEMP_OUTLIER_LOCATION             0
HIGH_TEMP_OUTLIER_LOCATION             0
LOW_TEMP_OUTLIER_LOCATION              0
HEAT_DEG_DAYS_OUTLIER_LOCATION         0
COOL_DEG_DAYS_OUTLIER_LOCATION         0
RAIN_OUTLIER_LOCATION                  0
AVG_WIND_SPEED_OUTLIER_LOCATION        0
HIGHEST_WIND_SPEED_OUTLIER_LOCATION    0
Unnamed: 0                             0
YEAR                                   0
MONTH                                  0
MEAN_TEMP                              0
HIGH_TEMP                              0
LOW_TEMP                               0
HEAT_DEG_DAYS                          0
COOL_DEG_DAYS                          0
RAIN                                   0
AVG_WIND_SPEED                         0
HIGHEST_WIND_SPEED                     0
ELEVATION                              0
LAT_DEG                                0
LONG_DEG                               0
dtype: int64
Dataset Now:
       STATION_REGION            STATION_NAME DAY HIGH_TEMP_TIME  \
0             Ήπειρος  Αγία Κυριακή Ιωαννίνων   1       15:10:00
1             Ήπειρος  Αγία Κυριακή Ιωαννίνων   2       17:40:00
2             Ήπειρος  Αγία Κυριακή Ιωαννίνων   3       13:40:00
3             Ήπειρος  Αγία Κυριακή Ιωαννίνων   4       15:50:00
4             Ήπειρος  Αγία Κυριακή Ιωαννίνων   5       14:10:00
...               ...                     ...  ..            ...
913560  Στερεά Ελλάδα                  Ψυχικό  27       13:20:00
913561  Στερεά Ελλάδα                  Ψυχικό  28       14:30:00
913562  Στερεά Ελλάδα                  Ψυχικό  29       13:10:00
913563  Στερεά Ελλάδα                  Ψυχικό  30       12:10:00
913564  Στερεά Ελλάδα                  Ψυχικό  31       12:10:00

       LOW_TEMP_TIME HIGHEST_WIND_SPEED_TIME WIND_DIR            LAT  \
0           23:50:00                15:40:00      SSE  39° 31' 27" N
1           07:30:00                14:40:00      ENE  39° 31' 27" N
2           06:40:00                18:20:00      ESE  39° 31' 27" N
3           05:40:00                13:30:00      WNW  39° 31' 27" N
4           06:20:00                10:40:00      WNW  39° 31' 27" N
...              ...                     ...      ...            ...
913560      01:10:00                11:50:00      NNE  38° 00' 00" N
913561      23:00:00                13:50:00        W  38° 00' 00" N
913562      03:50:00                15:30:00      NNE  38° 00' 00" N
913563      18:20:00                00:20:00      NNE  38° 00' 00" N
913564      21:20:00                22:00:00       NE  38° 00' 00" N

                 LONG MEAN_TEMP_OUTLIER_LOCATION  ... HIGH_TEMP LOW_TEMP  \
0       20° 52' 55" E                      False  ...      21.7     10.4
1       20° 52' 55" E                      False  ...      21.6      6.2
2       20° 52' 55" E                      False  ...      22.7      8.4
3       20° 52' 55" E                      False  ...      26.7     11.2
4       20° 52' 55" E                      False  ...      26.3     10.8
...               ...                        ...  ...       ...      ...
913560  23° 48' 00" E                      False  ...       8.7      2.2
913561  23° 48' 00" E                      False  ...      10.7      5.3
913562  23° 48' 00" E                      False  ...      14.1      4.5
913563  23° 48' 00" E                      False  ...      10.7      7.5
913564  23° 48' 00" E                      False  ...       9.1      6.7

       HEAT_DEG_DAYS COOL_DEG_DAYS RAIN AVG_WIND_SPEED HIGHEST_WIND_SPEED  \
0                4.1           0.4  0.0            1.3               24.1
1                4.8           0.7  0.4            2.1               22.5
2                4.4           0.7  3.6            1.8               24.1
3                2.9           2.1  0.2            1.6               17.7
4                3.1           1.5  1.8            2.7               20.9
...              ...           ...  ...            ...                ...
913560          12.8           0.0  0.0            1.4               25.7
913561          11.3           0.0  0.0            0.3                8.0
913562           9.1           0.0  0.0            2.3               24.1
913563           9.4           0.0  0.0            1.1               19.3
913564          10.7           0.0  4.0            4.8               33.8

        ELEVATION    LAT_DEG   LONG_DEG
0           515.0  39.524167  20.881944
1           515.0  39.524167  20.881944
2           515.0  39.524167  20.881944
3           515.0  39.524167  20.881944
4           515.0  39.524167  20.881944
...           ...        ...        ...
913560      209.0  38.000000  23.800000
913561      209.0  38.000000  23.800000
913562      209.0  38.000000  23.800000
913563      209.0  38.000000  23.800000
913564      209.0  38.000000  23.800000

[913565 rows x 31 columns]

In [15]:
# Create a correlation matrix
correlations = cleaned.corr()
correlations.style.background_gradient()

In [ ]:
# save the new correlations dataset
correlations.to_csv("correlations.csv")